*.zip
*.vscode
*.idea
*.csv
/python stat numpy panda plt/02.pandas.zip
/python stat numpy panda plt/theorie_demo.zip
/python stat numpy panda plt/théorie_démo.zip
/python stat numpy panda plt/Théorie Pandas-20250206/heart.csv
/python stat numpy panda plt/02.pandas/00.Pandas/pandas_tutorial_read.csv
/python stat numpy panda plt/02.pandas/00.Pandas/result.csv
/python stat numpy panda plt/02.pandas/assets/en.openfoodfacts.org.products.tsv
/python stat numpy panda plt/demo.zip
/python stat numpy panda plt/exercice/02.pandas/assets
/data_mining_ML/exercice/salary_data.csv
/data_mining_ML/exercice/iris.7z
/data_mining_ML/exercice/iris/1. iris/iris.csv
/Looping
data_mining_ML/exercice/titanic/titanic3.xlsx
/python stat numpy panda plt/.vscode
/vscode/*.json
/labo/fichiers excel
/mongoDB/nosql-mongodb-main-mongodb/mongodb/datasets