<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prédiction de Salaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ML_styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Salary Prediction 💰</h1>
        <form action="/predict" method="post">
            <label for="experience">Years of experience :</label>
            <input type="range" id="experience" name="experience" min="0" max="60" step="0.5" value="5"
                oninput="updateValue(this.value)">
            <span id="exp_value">1</span> Year
            <br><br>
            <button type="submit">Predict</button>
        </form>

        {% if prediction %}
            <div class="result">Estimated Salary : <strong>{{ prediction }} €</strong></div>
        {% elif error %}
            <div class="error">Erreur : {{ error }}</div>
        {% endif %}
    </div>

    <script>
        function updateValue(val) {
            document.getElementById("exp_value").innerText = val;
        }
    </script>
</body>
</html>
