<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to the website</h1>
    <p>This is a simple website that uses flask API</p>

    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio perspiciatis itaque iusto iste porro eaque vel assumenda! Minus odio, nulla impedit nisi consequuntur temporibus animi, pariatur eius unde dolorem totam!
    Modi officiis repellat totam optio ipsum dolores laudantium reprehenderit. Sit quaerat dicta dolorum error deserunt ipsam, quos officiis adipisci voluptate corrupti soluta incidunt odit quasi quia omnis sint id a!
    Molestias debitis, quaerat repellendus iure praesentium saepe earum rerum rem totam cupiditate nostrum quo a eum fugiat esse eaque animi fugit eos. Dolore, autem atque nostrum deserunt consequuntur laboriosam inventore.
    Accusamus excepturi similique aliquid atque eum veritatis, voluptas quaerat maxime, obcaecati alias, est totam nulla corrupti itaque quas culpa nesciunt quo expedita nihil eos magnam. Molestiae officiis alias quisquam in.</div>
    <div class="main">
        <div class="small_section">
            <h3>Bolo</h3>
            <ul>
                <li>tomatoe</li>
                <li>garlic</li>
            </ul>
            <h3>Carbo</h3>
            <ul>
                <li>Egg</li>
                <li>Ham</li>
            </ul>
            <h3>Arrabiata</h3>
            <ul>
                <li>meat</li>
                <li>tomatoe</li>
            </ul>
        </div>
    </div>

</body>
</html>